__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/

*.egg-info/
dist/
build/
*.egg

.env
.env.*

*.log
*.tmp
*.swp
*.swo

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

.ipynb_checkpoints/
*.pkl
!api/model/modelo_treinado.pkl

.pytest_cache/
htmlcov/
.coverage
